# This .gitignore file should be placed at the root of your Unity project directory
#
# Unity files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio files
.vs/
*.userprefs
*.csproj
*.sln
*.suo
*.tmp
*.user
*.vshost.*
*.pdb
*.resharper
*.resharper.user
*.sln.docstates

# Rider files
.idea/
*.csproj.user
*.sln.iml
*.sln.ide
*.DotSettings

# Other files
*.pidb.meta
*.pidb
*.meta
*.asset
*.unitypackage
*.log
*.txt
*.bak
*.dll
*.exe
*.pdb
*.mdb
*.mp4
*.avi
*.swf
*.jar
*.zip
*.rar
*.7z
*.tar.gz
*.tgz
*.dmg
*.app
*.app.dSYM/
*.xcarchive/
*.ipa/
*.xcappdata/
*.xctestrun/