# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]nityGenerated/

# Visual Studio / MonoDevelop generated
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln
/*.user
/*.unityproj
/*.booproj
/*.orig

# Gradle files
.gradle/
build/

# Other ignore patterns
*.DS_Store
Thumbs.db
*.meta
*.asset
*.dll
*.pdb
*.mdb
*.opendb
*.unitypackage
